* {
  box-sizing: border-box;
}

.sign-in {
  font-size: 25px;
  margin-top: -3px;
  color: #5cb85c;
}

.sign-in:hover {
  color: #449d44;
}

.desk-menu {
  position: relative;
  list-style: none;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
}
.desk-menu li {
  position: relative;
  cursor: pointer;
  z-index: 5;
}

li {
  margin: 0;
}

.my-drop-menu {
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 200px;
  right: 0;
  top: 35px;
}
.my-drop-menu div {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: all 0.5s 0.1s;
  -moz-transition: all 0.5s 0.1s;
  /*-ms-transition: ($value);*/
  transition: all 0.5s 0.1s;
  position: relative;
  background: #5cb85c !important;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.my-drop-menu li {
  display: block;
  padding: 10px;
  width: 100%;
}
.my-drop-menu li a {
  color: #fff;
  text-decoration: none;
}
.my-drop-menu li a:hover {
  color: #24292e;
}

.desk-menu li:nth-child(1):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.desk-menu li:nth-child(2):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.desk-menu li:nth-child(3):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.desk-menu li:nth-child(4):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.desk-menu li:nth-child(5):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.desk-menu li:nth-child(6):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.foot-bottom {
  background: #222;
  width: 100%;
  height: 50px;
}
.foot-bottom p {
  padding: 15px 0 0 15px;
}

.logo {
  width: 50px;
  margin: 20px 30px 20px 0;
}

.foot-div-logo {
  display: block;
  width: 400px;
  margin-right: 100px;
}

.foot-div-menu {
  padding-top: 35px;
  display: block;
  margin-right: 50px;
  width: 180px;
}
.foot-div-menu p {
  margin-top: 35px;
}

.foot-div-info {
  display: block;
  padding-top: 35px;
}
.foot-div-info p {
  margin-top: 35px;
}

.foot-wrap {
  background: url("/img/foot-img.png") no-repeat 98% 98%;
  background-size: 80px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}
.foot-wrap a {
  text-decoration: none;
}
.foot-wrap span {
  text-transform: uppercase;
}

.pull-left {
  padding-left: 0 !important;
}

.header-wrap {
  background: url("/img/header-img.png") no-repeat 98% 98%;
  background-size: 500px;
  margin-bottom: 80px;
}
.header-wrap p {
  width: 40%;
  line-height: 2em;
  color: #9d9d9d;
  font-size: large;
}

h1 {
  text-transform: uppercase;
  line-height: 2em;
}
h1 span {
  color: #5cb85c;
  line-height: 1em;
}

.body-content {
  margin-bottom: 10%;
}

.full-menu {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 5px;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 1280px) {
  .header-wrap {
    background-size: 400px;
  }
}
@media screen and (max-width: 992px) {
  .foot-div-logo {
    width: 100%;
    margin-right: 0;
  }

  .header-wrap {
    background-size: 400px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 768px) {
  .foot-div-logo {
    width: 100%;
    margin-right: 0;
  }

  .foot-div-menu {
    width: 250px;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.5em;
  }

  .header-wrap {
    margin-bottom: 30px;
  }
  .header-wrap p {
    font-size: medium;
    padding-bottom: 10%;
  }

  .desk-menu {
    font-size: 0.89em;
  }

  .full-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
  .mobile-menu li a {
    text-decoration: none;
    line-height: 20px;
    padding: 10px 0 10px 15px;
    position: relative;
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .header-wrap {
    background-size: 250px;
    margin-bottom: 20px;
  }
  .header-wrap p {
    font-size: small;
    width: 80%;
    padding-bottom: 15%;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.4em;
  }

  .foot-div-menu {
    width: 200px;
  }

  .foot-wrap {
    background-position: 95% 98%;
  }
}
@media screen and (max-width: 480px) {
  .header-wrap {
    background-size: 200px;
    margin-bottom: 15px;
  }
  .header-wrap p {
    padding-bottom: 20%;
  }
}

/*# sourceMappingURL=main.css.map */
